Footer {
    padding: 70px 40px;
    background: rgba(0, 0, 0, 0.89); }
    .Footer .Logo li {
      position: relative; }
      .Footer .Logo li img {
        margin-bottom: 2rem; }
      .Footer .Logo li p {
        font-size: 15px;
        color: #fff; }
      .Footer .Logo li h2 {
        font-family: sans-serif;
        margin-bottom: 2rem;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff; }
      .Footer .Logo li input {
        height: 47px;
        padding: 0 17px;
        border: 0;
        border-radius: 4px 4px 4px 4px;
        position: relative;
        width: 100%; }
      .Footer .Logo li input:focus {
        outline: none !important; }
      .Footer .Logo li span {
        position: absolute;
        top: 10px;
        right: 14px; }
        .Footer .Logo li span a svg {
          width: 25px;
          height: 25px;
          color: #000; }