.aboutUsBanner  {
    position: relative;
img {
    opacity: 0.55;
    width: 100%; 
    height: 350px;
}
h1 {
    font-size: 55px;
    letter-spacing: 5px;
    font-family: 'Playfair Display';
    font-weight: 500;
    position: absolute;
    top: 8rem;
    left: 30rem;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.aboutUsBanner  img {
  height: 150px;
}
.aboutUsBanner  h1 {
    font-size: 30px;
    top: 3.5rem;
    left: 5.5rem;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.aboutUsBanner  img {
  height: 150px;
}
.aboutUsBanner  h1 {
    font-size: 30px;
    top: 3.5rem;
    left: 5.5rem;
}
}