.ContactBanner {
    padding: 0 40px;
    background-image: url(http://demo.theme-junkie.com/hair-salon/files/2020/11/page_title.jpg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 350px;
    }
.ContactBanner p {
    font-size: 55px;
    letter-spacing: 5px;
    font-family: 'Playfair Display';
    font-weight: 500;
    position: absolute;
    top: 9rem;
    left: 25rem;
    }