.HairStylistInfo {
    padding: 0 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.HairStylistInfo h3 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'playfair Display';
    margin-bottom: 4rem; 
}
.HairStylistInfo .content .ant-card-body h2 {
    font-family: 'playfair display';
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}
.HairStylistInfo .content .ant-card-body {
    border: 1px solid #dcd9d9;
    text-align: center;
    padding: 30px;    
}
.HairStylistInfo .content .ant-card-body p {
    font-size: 16px;
    margin-bottom: 0;
    color: #6c6c6c;
}
.ant-card{
    position: relative;
}
.content .content-overlay {
    background: #493469b3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
} 
.content:hover .content-overlay {
    opacity: 1;
}
.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.SocialIcons {
    padding: 0 100px;
    margin-bottom: 1rem;
}
.SocialIcons #Facebook {
    margin-right: 10px;
    color: #fff;
    &:hover {
        color: #3B5998;
    }
}
.SocialIcons #Instagram {
    margin-left: 10px;
    color: #fff;
    &:hover {
        color: #3B5998;
    }
}
.content-details p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    padding: 0 50px;
}
.fadeIn-bottom {
    top: 77%;
}
.content:hover .ant-card-body {
    border-bottom-color:#000;
    border-bottom-style: solid;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .HairStylistInfo {
        padding: 60px 5px;
    }
    .HairStylistInfo .ant-card {
        padding-bottom: 0.5rem;
    }
    .HairStylistInfo .ant-card .ant-card-body {
        padding: 25px;
    }
    .HairStylistInfo .ant-card .ant-card-body h2 {
        font-size: 30px;
        margin-top: 0px;
    }
    .HairStylistInfo .ant-card .ant-card-body p {
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .HairStylistInfo {
        padding: 60px 5px;
    }
    .HairStylistInfo .ant-card {
        padding-bottom: 0.5rem;
    }
    .HairStylistInfo .ant-card .ant-card-body {
        padding: 25px;
    }
    .HairStylistInfo .ant-card .ant-card-body h2 {
        font-size: 30px;
        margin-top: 0px;
    }
    .HairStylistInfo .ant-card .ant-card-body p {
        margin-top: 1rem;
    }
}