.ContactDetails {
    padding: 0px 80px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.ContactDetails h1 {
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: 500;
    color: #000000db;
    margin-bottom: 15px; 
}
.ContactDetails p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 3rem; 
 }
 .ContactDetails .ContactInfo .anticon {
    float: left;
    margin-right: 10px;
}
.ContactDetails .ContactInfo .anticon svg {
    font-size: 50px;
    padding: 10px;
    background-color: #F63269;
    border-radius: 35%;
    margin-right: 10px;
}
.ContactDetails .ContactInfo h2 {
    font-size: 18px;
    line-height: 15px;
}
.ContactDetails .ContactInfo p {
    margin-bottom: 1.5rem;
}
.ContactDetails .contactForm {
    padding-left: 40px;
}
.ContactDetails .contactForm p {
    margin-bottom: 1rem;
}
.ContactDetails .contactForm input {
    height: 50px;
    border-radius: 0.3rem;
    border: 0.1rem solid #e2e4e8;
    box-shadow: 0 3px 2px #00000005;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.ContactDetails .contactForm .formMsg{
    height: 15rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #e2e4e8;
    box-shadow: 0 3px 2px #00000005;
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 100%;
}
.ContactDetails .contactForm  #sbmtBtn {  
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    padding: 0 3rem;
    margin-top: 2rem;
    &:hover{
        background: #F63269;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ContactMap {
        padding: 0px 10px;
        padding-top: 40px;
        padding-bottom: 10px;        
    }
    .ContactDetails {
        padding: 20px 10px;
    }
    .ContactDetails h1 {
        font-size: 35px;
        padding-left: .5rem;
    }
    .ContactDetails p {
        font-size: 16px;
        margin-bottom: 3rem;
        padding-left: .5rem;
    }
    .ContactDetails .ContactInfo {
        display: grid;
    }
    .ContactDetails .ContactInfo .anticon {
        margin-bottom: 1rem;
        margin-right: 0px !important;
    }
    .ContactDetails .ContactInfo h2 {
       text-align: center;
    }
    .ContactDetails .ContactInfo p {
        text-align: center;  
        margin-bottom: 3rem;  
}
    .ContactDetails .contactForm {
         padding: 0px 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ContactMap {
        padding: 0px 10px;
        padding-top: 40px;
        padding-bottom: 10px;        
    }
    .ContactDetails {
        padding: 20px 10px;
    }
    .ContactDetails h1 {
        font-size: 35px;
        padding-left: .5rem;
    }
    .ContactDetails p {
        font-size: 16px;
        margin-bottom: 3rem;
        padding-left: .5rem;
    }
    .ContactDetails .ContactInfo {
        display: grid;
    }
    .ContactDetails .ContactInfo .anticon {
        margin-bottom: 1rem;
        margin-right: 0px !important;
    }
    .ContactDetails .ContactInfo h2 {
       text-align: center;
    }
    .ContactDetails .ContactInfo p {
        text-align: center;  
        margin-bottom: 3rem;  
}
    .ContactDetails .contactForm {
         padding: 0px 10px;
    }
}



