.ServicesOffered {
    padding: 60px 40px;
}
.ServicesOffered .ant-card .ant-card-body .ant-card-body-main ul li h2 {
    font-family: 'playfair display';
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin-top: 2rem;
}
.ServicesOffered .ant-card .ant-card-body {
    background-color: green;
    text-align: center;
    padding: 1px;    
}
.ServicesOffered .ant-card .ant-card-body .ant-card-body-main ul li p {
    font-size: 16px;
}