.LatestBlogs {
    padding: 70px 40px; 
}
.LatestBlogs h1 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'playfair Display';
    margin-bottom: 4rem; 
}
.LatestBlogs .BlogBody {
    box-shadow: 0 0 13px 3px #0000001c; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-image img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain {
    padding: 30px; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li .BlogAvtar li img {
    border-radius: 50%;
    margin-top: -10px;
    margin-right: 11px;
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li .BlogAvtar li p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #888;
    margin-right: 8px; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li .BlogAvtar li p span {
    cursor: pointer;
    transition: 0.5s; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li .BlogAvtar li p span:hover {
    color: pink;
    transition: 0.5s; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li h2 {
    font-size: 22px;
    color: #000;
    font-family: 'playfair Display';
    cursor: pointer;
    margin-bottom: 15px;
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li h2:hover {
    color: pink;
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain li p {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    font-weight: 200;
    margin-bottom: 15px; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain a {
    color: #f63269;
    text-transform: uppercase;
    border-bottom: 1px solid #f63269;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 2px; 
}
.LatestBlogs .BlogBody .ant-card .ant-card-body .BlogMain a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}