.ServiceBanner .BannerHeading {
            position: relative;
        img {
            opacity: 0.55;
            width: 100%; 
            height: 400px;
        }
        h1 {
            font-size: 55px;
            letter-spacing: 5px;
            font-family: 'Playfair Display';
            font-weight: 500;
            position: absolute;
            top: 10rem;
            left: 25rem;
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .ServiceBanner .BannerHeading img {
          height: 150px;
        }
        .ServiceBanner .BannerHeading h1 {
            font-size: 30px;
            top: 3.5rem;
            left: 3.5rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .ServiceBanner .BannerHeading img {
          height: 150px;
        }
        .ServiceBanner .BannerHeading h1 {
            font-size: 30px;
            top: 3.5rem;
            left: 3.5rem;
        }
    }