.OurServices {
    padding: 0 40px;
    margin-top: 4rem; 
}
.OurServices h3 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'playfair Display';
    margin-bottom: 4rem; 
}
.OurServices .ant-card {
    margin-bottom: 4rem;
    float: left; 
}
.OurServices .ant-card .ant-card-body h2 {
    font-family: 'playfair display';
    font-size: 22px;
    font-weight: 600;
    color: #000000d1;
    margin-top: 2rem; 
}
.OurServices .ant-card .ant-card-body p {
    color: #454545;
    font-size: 16px;
    margin-top: 1rem;
}
.OurServices .ant-card .ant-card-body a {
    color: #fff;
    background: #e43352;
    height: 40px;
    display: block;
    float: left;
    line-height: 40px;
    padding: 0 32px;
    border-radius: 3px;
    font-size: 17px;
}
.OurServices .ant-card .ant-card-body a:hover{
    text-decoration: none;
    background: white;
    border-radius: 3px;
    border-style: solid;
    border-color: #e43352;
    color: black;
    ;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .OurServices h3 {
        font-size: 35px;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .OurServices h3 {
            font-size: 35px;
          }
    }