.SalonTour {
    padding: 60px 40px;
    background: #f2cde1; 
}
.SalonTour .salon-tour-body{
    margin-top: 1.5rem;
    padding-left: 40px;
}
.SalonTour ul li h1 {
    font-size: 35px;
    color: #fff;
    font-family: 'playfair Display';
    font-weight: 600;
    margin-bottom: 1rem; 
}
.SalonTour ul li p {
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    line-height: 30px; 
}
.SalonTour ul li a {
    color: #000000d1;
    background: #fff;
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0 21px;
    border-radius: 5px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 1rem; 
    text-align: center;
}
.SalonTour ul li a:hover {
    text-decoration: none;
    color: white;
    background: #f2cde1;
    border-style: solid;
    border-radius: 3px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.SalonTour {
  padding: 40px 40px;
}
.SalonTour .salon-tour-body {
  padding-left: 0px;
}
.SalonTour ul li a {
  margin-bottom: 3rem;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.SalonTour {
  padding: 40px 40px;
}
.SalonTour .salon-tour-body {
  padding-left: 0px;
}
.SalonTour ul li a {
  margin-bottom: 3rem;
}
}