.SalonTour {
    padding: 60px 40px;
    background: #f2cde1; 
}
.SalonTour .salon-tour-body{
    margin-top: 2rem;
}
.SalonTour ul li h1 {
    font-size: 35px;
    color: #fff;
    font-family: 'playfair Display';
    font-weight: 600; 
}
.SalonTour ul li p {
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    line-height: 30px; 
}
.SalonTour ul li a {
    color: #000000d1;
    background: #fff;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 21px;
    border-radius: 5px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 1rem; 
}
.SalonTour ul li a:hover {
    text-decoration: none;
    color: white;
    background: #f2cde1;
    border-style: solid;
    border-radius: 3px;
}