.navbar{
    padding: 0 40px !important;
}
.navbar .navbar-collapse .navbar-nav{
    margin-left: 4rem;
}
.navbar .navbar-collapse .navbar-nav .nav-link{
    color: black;
    margin-right: 31px;
    padding: 0;
    font-size: 20px;
}
.navbar .navbar-collapse .navbar-nav .nav-link:hover{
    cursor: pointer;
    color: red;
}
.header-right-side{
    display: inline-flex;
    position: absolute;
    right: 1rem;
    bottom: -3px;
.socialMedia-menu{
    display: inline-flex;
    align-items: center;
    ul{
    display: flex;
    font-size: 20px;
    margin-right: 30px;
    li{
    padding-right: 20px;
    #Twitter{
    color: black;
    &:hover{
    cursor: pointer;
    color: #55ACEE;
    }
}
    #Facebook{
    color: black;
    &:hover{
    cursor: pointer;
    color: #3B5998;
}
}
    #Youtube{
    color: black;
    &:hover{
    cursor: pointer;
    color: #bb0000;
}
}
}
}
}
    .search-icon{
    font-size: 20px;
    padding: 0 40px;
    a{
    color: black;
    &:hover{
    cursor:pointer;
    color: red;
}
}
}
}


